Part2.json
{
  "name": "Part2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mywebhook",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2440,
        220
      ],
      "id": "66fe4935-f3ae-4832-97ac-d1814a3120b6",
      "name": "Webhook",
      "webhookId": "ad4d22d0-c1a4-461f-acf1-e80381ae41cc"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appzkdRdcQWQUSR5K",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K"
        },
        "table": {
          "__rl": true,
          "value": "tbljHSuNwFvhAlgba",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K/tbljHSuNwFvhAlgba"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Called",
            "Date Time": "={{ $now }}",
            "Attempts": "Success",
            "Mobile": "={{ $('Get ID').item.json.Mobile }}",
            "summary": "={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}",
            "Sales-Team": "={{ $json.output.salesTeam }} beacuse\n{{ $json.output.rationale }}",
            "Lead Type": "={{ $json.output.leadCategory }}"
          },
          "matchingColumns": [
            "Mobile"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Sr.No",
              "displayName": "Sr.No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Called",
                  "value": "Called"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "TBC",
                  "value": "TBC"
                },
                {
                  "name": "Voicemail",
                  "value": "Voicemail"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attempts",
              "displayName": "Attempts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "#1",
                  "value": "#1"
                },
                {
                  "name": "#2",
                  "value": "#2"
                },
                {
                  "name": "#3",
                  "value": "#3"
                },
                {
                  "name": "Unreachable",
                  "value": "Unreachable"
                },
                {
                  "name": "Success",
                  "value": "Success"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Time",
              "displayName": "Date Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Type",
              "displayName": "Lead Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sales-Team",
              "displayName": "Sales-Team",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -360,
        -280
      ],
      "id": "22fed7b0-dfff-4569-b26e-f6ff9aa0322e",
      "name": "Connected Call",
      "credentials": {
        "airtableTokenApi": {
          "id": "3SE5SqMIbROUC6wj",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "87640d60-4973-4256-8e37-e8c7fc3bf1a8",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "customer-did-not-answer",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "7d0759f2-7c19-45be-bbb9-09db3da6eacc",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "assistant-error",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "bcce32ec-9fc1-4f42-b352-69ed90b8b7a6",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "pipeline-error-*",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "fb91210a-c14a-432b-ba6d-3c859d5972a4",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "pipeline-error-first-message-failed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "9104cca1-09aa-4781-9400-3fa998134595",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "pipeline-no-available-llm-model",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "8717e004-1033-4a34-b827-d16c2d147501",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "phone-call-provider-closed-websocket",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "37a69a1f-b6d7-42ce-b20e-d3a8dbc6df92",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "twilio-failed-to-connect-call",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "52f427ca-adbc-4364-a1c0-81c3b23d26a3",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "unknown-error",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "fad61fe3-b7e5-4bca-be09-f22f89bdeb4a",
              "leftValue": "={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}",
              "rightValue": "voicemail",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "7b24dc3c-be9b-4b7a-aa71-83eb0b13b071",
              "leftValue": "={{ $('Event = end-of-call-report').item.json.body.message.artifact.transcript }}",
              "rightValue": "leave a message",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1540,
        -60
      ],
      "id": "698b7719-60ba-4c74-96d9-b0517eefa097",
      "name": "Condition = Answered"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer e5a4b27b-10b3-4a68-897c-ccd3ea7bccd4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistantId\": \"37c5cda1-c697-4e61-8415-01bef26bf31a\",\n  \"customer\": {\n    \"name\": \"{{ $json['First Name'] }}\",\n    \"number\": \"{{ $json.Mobile }}\"\n  },\n  \"phoneNumberId\": \"fcf9205e-df2c-4e88-82ae-01e1f036e34e\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -940,
        180
      ],
      "id": "efe3489c-08ce-45da-9cbb-771ba4e81469",
      "name": "Call #2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzkdRdcQWQUSR5K",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K"
        },
        "table": {
          "__rl": true,
          "value": "tbljHSuNwFvhAlgba",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K/tbljHSuNwFvhAlgba"
        },
        "filterByFormula": "=({Mobile} = '{{ $('Event = end-of-call-report').item.json.body.message.call.customer.number }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1300,
        -80
      ],
      "id": "6140ae77-ec45-4290-b0af-f8ef8e2faf62",
      "name": "Get ID",
      "credentials": {
        "airtableTokenApi": {
          "id": "3SE5SqMIbROUC6wj",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzkdRdcQWQUSR5K",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K"
        },
        "table": {
          "__rl": true,
          "value": "tbljHSuNwFvhAlgba",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K/tbljHSuNwFvhAlgba"
        },
        "filterByFormula": "=({Mobile} = '{{ $('not-answer').item.json.body.message.call.customer.number }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1520,
        220
      ],
      "id": "aacb9628-2976-410d-90a5-1376d7cd4aab",
      "name": "Get ID #2",
      "credentials": {
        "airtableTokenApi": {
          "id": "3SE5SqMIbROUC6wj",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32155059-a744-47e1-879c-f93968fe8a8a",
              "leftValue": "={{ $json.body.message.type }}",
              "rightValue": "end-of-call-report",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2240,
        220
      ],
      "id": "c5217ad0-a18f-43e8-a434-f11e323963e9",
      "name": "Event = end-of-call-report"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1120,
        140
      ],
      "id": "bec3182b-c8f2-4e39-b8f7-68e104427324",
      "name": "1 Minute",
      "webhookId": "0c1d989a-b8de-4488-86c5-281db988f5b7"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appzkdRdcQWQUSR5K",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K"
        },
        "table": {
          "__rl": true,
          "value": "tblLwheYUgZW18sCC",
          "mode": "list",
          "cachedResultName": "Call records",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K/tblLwheYUgZW18sCC"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "milliseconds": "={{ $json.body.message.durationMs }}",
            "started": "={{ $json.body.message.startedAt }}",
            "ended reason": "={{ $json.body.message.endedReason }}",
            "transcript": "={{ $json.body.message.transcript }}",
            "recording": "={{ $json.body.message.recordingUrl }}",
            "customernumber": "={{ $json.body.message.call.customer.number }}",
            "type": "={{ $json.body.message.call.type }}",
            "phonenumberID": "={{ $json.body.message.call.phoneNumberId }}",
            "cost fields": "={{ $json.body.message.cost }}",
            "ID": "={{ $json.body.message.call.id }}",
            "CallproviderID": "={{ $json.body.message.call.phoneCallProviderId }}",
            "Ended": "={{ $json.body.message.endedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CallproviderID",
              "displayName": "CallproviderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phonenumberID",
              "displayName": "phonenumberID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customernumber",
              "displayName": "customernumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "started",
              "displayName": "started",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ended",
              "displayName": "Ended",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost fields",
              "displayName": "cost fields",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ended reason",
              "displayName": "ended reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "transcript",
              "displayName": "transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "milliseconds",
              "displayName": "milliseconds",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "recording",
              "displayName": "recording",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1680,
        220
      ],
      "id": "850b4937-6703-461e-955f-9bd21a6a5ffb",
      "name": "New call record entry",
      "credentials": {
        "airtableTokenApi": {
          "id": "3SE5SqMIbROUC6wj",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appzkdRdcQWQUSR5K",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K"
        },
        "table": {
          "__rl": true,
          "value": "tblLwheYUgZW18sCC",
          "mode": "list",
          "cachedResultName": "Call records",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K/tblLwheYUgZW18sCC"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "milliseconds": "={{ $json.body.message.durationMs }}",
            "started": "={{ $json.body.message.startedAt }}",
            "ended reason": "={{ $json.body.message.endedReason }}",
            "transcript": "={{ $json.body.message.transcript }}",
            "recording": "={{ $json.body.message.recordingUrl }}",
            "customernumber": "={{ $json.body.message.call.customer.number }}",
            "type": "={{ $json.body.message.call.type }}",
            "phonenumberID": "={{ $json.body.message.call.phoneNumberId }}",
            "cost fields": "={{ $json.body.message.cost }}",
            "ID": "={{ $json.body.message.call.id }}",
            "CallproviderID": "={{ $json.body.message.call.phoneCallProviderId }}",
            "Ended": "={{ $json.body.message.endedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CallproviderID",
              "displayName": "CallproviderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phonenumberID",
              "displayName": "phonenumberID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customernumber",
              "displayName": "customernumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "started",
              "displayName": "started",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ended",
              "displayName": "Ended",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost fields",
              "displayName": "cost fields",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ended reason",
              "displayName": "ended reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "transcript",
              "displayName": "transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "milliseconds",
              "displayName": "milliseconds",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "recording",
              "displayName": "recording",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1700,
        -60
      ],
      "id": "12e91510-b275-449f-bb3f-ac2a23e0a456",
      "name": "new call record entry",
      "credentials": {
        "airtableTokenApi": {
          "id": "3SE5SqMIbROUC6wj",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "655fde08-4343-4336-b4ec-3f8a9217b384",
              "leftValue": "={{ $('Event = end-of-call-report').item.json.body.message.endedReason }}",
              "rightValue": "customer-did-not-answer",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "276e41e5-d9fa-4103-93d6-89f275177a09",
              "leftValue": "={{ $('Event = end-of-call-report').item.json.body.message.endedReason }}",
              "rightValue": "customer-busy",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1860,
        400
      ],
      "id": "a33cd359-1511-4280-93ce-4771e5deb798",
      "name": "not-answer"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "23f6dcb0-0cd3-4d53-995e-7bf6f3e981de",
              "leftValue": "={{ $json.Attempts }}",
              "rightValue": "#1",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1360,
        220
      ],
      "id": "34e13b37-427e-443a-8b35-abd62372dde6",
      "name": "check that 1st call already made"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appzkdRdcQWQUSR5K",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K"
        },
        "table": {
          "__rl": true,
          "value": "tbljHSuNwFvhAlgba",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K/tbljHSuNwFvhAlgba"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Failed",
            "Attempts": "Unreachable",
            "summary": "No summary",
            "Mobile": "={{ $json.Mobile }}"
          },
          "matchingColumns": [
            "Mobile"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Sr.No",
              "displayName": "Sr.No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Called",
                  "value": "Called"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "TBC",
                  "value": "TBC"
                },
                {
                  "name": "Voicemail",
                  "value": "Voicemail"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attempts",
              "displayName": "Attempts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "#1",
                  "value": "#1"
                },
                {
                  "name": "#2",
                  "value": "#2"
                },
                {
                  "name": "#3",
                  "value": "#3"
                },
                {
                  "name": "Unreachable",
                  "value": "Unreachable"
                },
                {
                  "name": "Success",
                  "value": "Success"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Time",
              "displayName": "Date Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Type",
              "displayName": "Lead Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Hot",
                  "value": "Hot"
                },
                {
                  "name": "Warm",
                  "value": "Warm"
                },
                {
                  "name": "Cold",
                  "value": "Cold"
                },
                {
                  "name": "Callback/Verification",
                  "value": "Callback/Verification"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1060,
        320
      ],
      "id": "d4c6b0a6-f8af-4107-bfb6-b3cff8aea009",
      "name": "stated failed after 2nd call",
      "credentials": {
        "airtableTokenApi": {
          "id": "3SE5SqMIbROUC6wj",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appzkdRdcQWQUSR5K",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K"
        },
        "table": {
          "__rl": true,
          "value": "tbljHSuNwFvhAlgba",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K/tbljHSuNwFvhAlgba"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "In progress",
            "Attempts": "#2",
            "Mobile": "={{ $json.customer.number }}"
          },
          "matchingColumns": [
            "Mobile"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Sr.No",
              "displayName": "Sr.No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Called",
                  "value": "Called"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "TBC",
                  "value": "TBC"
                },
                {
                  "name": "Voicemail",
                  "value": "Voicemail"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attempts",
              "displayName": "Attempts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "#1",
                  "value": "#1"
                },
                {
                  "name": "#2",
                  "value": "#2"
                },
                {
                  "name": "#3",
                  "value": "#3"
                },
                {
                  "name": "Unreachable",
                  "value": "Unreachable"
                },
                {
                  "name": "Success",
                  "value": "Success"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Time",
              "displayName": "Date Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -760,
        180
      ],
      "id": "8cd12fbf-c285-4738-a097-39dcbb4c441a",
      "name": "updated attempt as #2 after 2nd call dialed",
      "credentials": {
        "airtableTokenApi": {
          "id": "3SE5SqMIbROUC6wj",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzkdRdcQWQUSR5K",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K"
        },
        "table": {
          "__rl": true,
          "value": "tbljHSuNwFvhAlgba",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K/tbljHSuNwFvhAlgba"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1640,
        480
      ],
      "id": "958fde83-251b-4590-9bc3-97656115f32e",
      "name": "Get ID #3",
      "credentials": {
        "airtableTokenApi": {
          "id": "3SE5SqMIbROUC6wj",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appzkdRdcQWQUSR5K",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K"
        },
        "table": {
          "__rl": true,
          "value": "tbljHSuNwFvhAlgba",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appzkdRdcQWQUSR5K/tbljHSuNwFvhAlgba"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Failed",
            "Attempts": "Unreachable",
            "Mobile": "={{ $json.Mobile }}",
            "summary": "No summary"
          },
          "matchingColumns": [
            "Mobile"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Sr.No",
              "displayName": "Sr.No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Called",
                  "value": "Called"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "TBC",
                  "value": "TBC"
                },
                {
                  "name": "Voicemail",
                  "value": "Voicemail"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attempts",
              "displayName": "Attempts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "#1",
                  "value": "#1"
                },
                {
                  "name": "#2",
                  "value": "#2"
                },
                {
                  "name": "#3",
                  "value": "#3"
                },
                {
                  "name": "Unreachable",
                  "value": "Unreachable"
                },
                {
                  "name": "Success",
                  "value": "Success"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Time",
              "displayName": "Date Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1440,
        480
      ],
      "id": "e0988a01-f6ea-4dd9-b3b8-24f0ef5ee6fb",
      "name": "Failed call",
      "credentials": {
        "airtableTokenApi": {
          "id": "3SE5SqMIbROUC6wj",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.1,
          "maxRetries": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1140,
        -20
      ],
      "id": "a1c6d397-07fe-4258-9598-9ecefdacd026",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aZyYMBVq4UScNcfo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "bhagawatkarhale7@gmail.com",
          "mode": "list",
          "cachedResultName": "bhagawatkarhale7@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -860,
        20
      ],
      "id": "78621c7b-9c6e-4b52-8175-4345594eec07",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fbInsUJB0mfjHlBG",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "**Prompt:**\n\nAnalyze the call transcript using the following criteria:  \n- **Budget**: Is it >= 30L?  \n- **Location details**: Are specific details provided (e.g., sector, colony, city)?  \n- **Timeline**: Is it immediate or later?  \n- **Project scope**: Is it defined as turnkey or select?  \n- **Property size**: Is it mentioned?  \n\nBased on the transcript, categorize the call into one of the following lead types:  \n- **Hot Lead**: The call fully meets all criteria (budget >= 30L, specific location details, clear timeline, defined project scope, and property size mentioned) and the client is ready to proceed.  \n- **Warm Lead**: The call shows ambiguous interest, meeting some criteria but not all, or the client is not fully committed.  \n- **Cold Lead**: The call does not meet the criteria (e.g., budget < 30L, vague location details, unclear timeline, undefined scope, or property size not mentioned).  \n- **Special Case**: The call involves issues such as unanswered calls, callback requests, identity issues, or abusive language requiring special handling.  \n\noutput format:  \n1. **leadCategory**: [Hot Lead, Warm Lead, Cold Lead, Special Case]  \n2. **salesTeam**: Assign based on the lead category:  \n   - Hot Lead: Immediate Consultation Team  \n   - Warm Lead: Nurture Team  \n   - Cold Lead: Requalification Team  \n   - Special Case: Customer Service  Callback  \n3. **rationale**: A brief summary of key factors influencing the categorization (e.g., budget, location, timeline, scope, engagement).  \n4. **callbackEvent**: If the call includes a callback request, provide the date and time details for a Google Calendar event.  \n\nFor any callback requests, ensure a Google Calendar event is generated with the specified date and time. The analysis must thoroughly evaluate all criteria and accurately reflect the details in the transcript.\n",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -1040,
        -300
      ],
      "id": "81cd8895-cc7f-4514-8f79-c5a0c6f19b26",
      "name": "success evalution",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=1",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -980,
        -140
      ],
      "id": "24507554-f2aa-4c7d-9c12-46895267b5e4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"leadCategory\": {\n      \"type\": \"string\",\n      \"enum\": [\"Hot Lead\", \"Warm Lead\", \"Cold Lead\", \"Special Case\"]\n    },\n    \"salesTeam\": {\n      \"type\": \"string\",\n      \"enum\": [\"Immediate Consultation Team\", \"Nurture Team\", \"Requalification Team\", \"Customer Service  Callback\"]\n    },\n    \"rationale\": {\n      \"type\": \"string\"\n    },\n    \"callbackEvent\": {\n      \"type\": [\"string\", \"null\"],\n      \"format\": \"date-time\"\n    }\n  },\n  \"required\": [\"leadCategory\", \"salesTeam\", \"rationale\", \"callbackEvent\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -480,
        0
      ],
      "id": "4c79d4dd-d95d-4cd2-a5be-ea673ba6ea63",
      "name": "Structured Output Parser",
      "notesInFlow": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -100,
        220
      ],
      "id": "91f0997a-2fe0-4e9a-81f1-241edf3bcf15",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "options": {
          "prompt": "Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -780,
        -160
      ],
      "id": "d1c67698-ef59-40d6-b43c-8190d4292460",
      "name": "Auto-fixing Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Event = end-of-call-report",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Condition = Answered": {
      "main": [
        [
          {
            "node": "Get ID",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call #2": {
      "main": [
        [
          {
            "node": "updated attempt as #2 after 2nd call dialed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ID": {
      "main": [
        [
          {
            "node": "success evalution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ID #2": {
      "main": [
        [
          {
            "node": "check that 1st call already made",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event = end-of-call-report": {
      "main": [
        [
          {
            "node": "new call record entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "not-answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 Minute": {
      "main": [
        [
          {
            "node": "Call #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connected Call": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New call record entry": {
      "main": [
        [
          {
            "node": "Get ID #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new call record entry": {
      "main": [
        [
          {
            "node": "Condition = Answered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "not-answer": {
      "main": [
        [
          {
            "node": "New call record entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get ID #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check that 1st call already made": {
      "main": [
        [
          {
            "node": "1 Minute",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "stated failed after 2nd call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updated attempt as #2 after 2nd call dialed": {
      "main": [
        []
      ]
    },
    "Get ID #3": {
      "main": [
        [
          {
            "node": "Failed call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "success evalution",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "success evalution",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "success evalution": {
      "main": [
        [
          {
            "node": "Connected Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "success evalution",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "stated failed after 2nd call": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed call": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "success evalution",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "21ff6025-944d-4577-8e26-0fbc924af68d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a4af623ccc98b46f6dff9d801ff6b2a2b6a4a512e50c01937318ca6c147fc0e7"
  },
  "id": "7RrRSjm6WgamSoFF",
  "tags": []
}